[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
requests = "*"
numpy = "*"
pillow = "*"
matplotlib = "*"
werkzeug = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
