@property --term-selected-text {
  syntax: '<color>';
  inherits: true;
  initial-value: currentcolor;
}

@property --term-selection {
  syntax: '<color>';
  inherits: true;
  initial-value: currentcolor;
}

span.term-span::selection {
  color: var(--term-selected-text);
  background-color: var(--term-selection);
}
