[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "env FASTAPI_ENV=development python -m server"
server = "python -m server"

[packages]
requests = "~=2.31"
numpy = "~=1.26"
scikit-image = "~=0.22.0"
fastapi = "~=0.110.0"
uvicorn = {extras = ["standard"], version = "~=0.29.0"}
pydantic = "~=2.6"
pydantic-settings = "~=2.2"
structlog = "~=24.1"
python-multipart = "~=0.0.9"

[requires]
python_version = "3.12"

[dev-packages]
black = "~=24.3"
ipython = "~=8.22"
isort = "~=5.13"
rich = "~=13.7"
