[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "env FLASK_ENV=development python -m flask --app server run --debug -p 5328"

[packages]
Flask = "*"
requests = "*"
numpy = "*"
werkzeug = "*"
python-dotenv = "*"
scikit-image = "*"
gunicorn = "*"

[requires]
python_version = "3.11"

[dev-packages]
black = "*"
ipython = "*"
